.menu {
  display: flex;
  flex-direction: column;
}

.contNamesPlayers,
.contChooseTypeGame,
.contChoosePriority {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  gap: 20px;
  text-align: center;
}

.buttonChooseTypeGame {
  display: flex;
  border: solid black;
  width: 120px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.buttonPriority {
  display: flex;
  border: solid black;
  width: 190px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.titleNamePlayers,
.titleTypeGame,
.titlePriority {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}